@import "../../pages/index.scss";

.container {
  height: 100vh;
  width: auto;
}

.heroContent {
  height: 80%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ccc;
  text-shadow: 1px 1px 3px #222;
  letter-spacing: 1px;

  @include setAnimateDelay(fadeInFromTop, 1s);

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }

  .firstLetter {
    color: $accent-color;
  }

  .resumeButton {
    padding: 0 15px;
    height: 35px;
    border: 2px solid $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;

    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 2px;

    background-color: transparent;
    cursor: pointer;
    transition: 0.25s ease all;

    &:hover {
      background-color: $accent-color;
      color: #ccc;
      box-shadow: 1px 1px 3px #222;
      text-shadow: none;
    }
  }
}

.contactInfo {
  height: 20%;
  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    list-style: none;

    @include setAnimateDelay(fadeInFromTop, 2s);

    li {
      margin: auto 1rem;
    }
    a {
      color: #ccc;

      .contactLabel {
        display: none;
      }
    }
  }
}

/* Media Queries
======================================*/

@media screen and (min-width: 760px) and (min-height: 800px) {
  .heroContent {
    height: 75%;
    padding-left: 2rem;
    align-items: flex-start;
    .title {
      font-size: 4rem;
    }

    .subtitle {
      font-size: 2rem;
    }

    .resumeButton {
      padding: 0 25px;
      height: 35px;
      font-size: 0.9rem;
    }
  }

  .contactInfo {
    ul {
      padding-left: 2rem;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      @include setAnimateDelay(fadeInFromTop, 2s);

      li {
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
      }

      a {
        color: #eee;
        text-shadow: 2px 2px 1px #222;

        .contactLabel {
          position: relative;
          bottom: 5px;
          border-bottom: 1px solid transparent;
          margin-left: 1.5rem;
          display: inline-block;
          transition: 0.25s ease border-bottom;

          &:hover {
            border-color: $accent-color;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1140px) {
  .heroContent {
    .title {
      font-size: 6rem;
    }

    .subtitle {
      font-size: 3rem;
    }
  }
}
