@import "../../pages/index.scss";

.icon {
  position: relative;
  margin: 1rem 0.75rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  svg {
    color: $accent-color-dark;
    margin-bottom: 0.5rem;
  }

  span {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(40, 26, 23, 0.85);
  }
}
