/* Global Styles
======================================*/
@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Roboto+Condensed:400,700");
$font-stack: "Roboto Condensed", Arial, Helvetica, sans-serif;
$dark-font: #281a17;
$accent-color: #d27d00;
$accent-color-light: #ffad40;
$accent-color-dark: #9b5000;
$light-grey: #fcfcfc;
$dark-grey: #e0dfe3;

@keyframes fadeInFromTop {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin setAnimateDelay($animation, $delay) {
  transform: translateY(-5%);
  opacity: 0;
  animation-name: $animation;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  animation-delay: $delay;
}

.fixedBackground::before {
  background-attachment: fixed;
}

.fixedBackground::after {
  background-attachment: fixed;
}
/* CSS Reset
======================================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: #000 dotted 2px;
  outline-offset: 0.05em;
}

/* Scrollbar Colors
======================================*/

* {
  scrollbar-color: $accent-color $light-grey;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}

/* General
======================================*/

main {
  padding: 1.5rem 2rem;
  background-color: $light-grey;
}

@media screen and (min-width: 760px) {
  main {
    padding: 1.5rem 4rem;
  }
}

@media screen and (min-width: 1140px) {
  main {
    padding: 1.5rem 6rem;
  }
}
